body {
    font-family: "Segoe UI", "Open Sans", "Ubuntu", "Calibri", "Corbel", Tahoma, Sans-Serif;
    background: #FFFFFF;
}



main {
    display: block;
    padding-top: 0;
}

main video, main img {
    max-width: 100%!important;
    vertical-align: top;
}

main audio {
    vertical-align: bottom;
}

main option[disabled] {
    display: none;
}

main select {
    font-size: 17px;
}



.hidden {
    display: none;
}

.float-left {
    float: left
}

.float-right {
    float: right
}



#recording-control button {
    width: 100%;
    margin-bottom: 1rem;
}