html {
    background: #eee;
}

body {
    font-family: "Segoe UI", "Open Sans", "Ubuntu", "Calibri", "Corbel", Tahoma, Sans-Serif;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0;

    background: #fff;
    border: 1px solid;
    border-color: #ddd #aaa #aaa #ddd;
    margin: 2.5em auto 0 auto;
    padding: 2em;
}

h1 {
    margin-top: 0;
}

h1, h2 {
    border-bottom: 1px solid rgb(189, 189, 189);
    display: inline;
    font-weight: normal;
    line-height: 36px;
    padding: 0 0 3px 0;
}

a {
    color: #2844FA;
    text-decoration: none;
}

a:hover, a:focus {
    color: #1B29A4;
}

a:active {
    color: #000;
}

:-moz-any-link:focus {
    border: 0;
    color: #000;
}

::selection,
::-moz-selection {
    background: #ccc;
}

button, input[type=button] {
    -moz-border-radius: 3px;
    -moz-transition: none;
    -webkit-transition: none;
    background: #0370ea;
    background: -moz-linear-gradient(top, #008dfd 0, #0370ea 100%);
    background: -webkit-linear-gradient(top, #008dfd 0, #0370ea 100%);
    border: 1px solid #076bd2;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-family: inherit;
    font-size: .8em;
    line-height: 1.3;
    padding: 5px 12px;
    text-align: center;
    text-shadow: 1px 1px 1px #076bd2;
    font-size: 1.5em;
}

button:hover, input[type=button]:hover {
    background: rgb(9, 147, 240);
}

button:active, input[type=button]:active {
    background: rgb(10, 118, 190);
}

button[disabled], input[type=button][disabled] {
    background: none;
    border: 1px solid rgb(187, 181, 181);
    color: gray;
    text-shadow: none;
}

tr, td, th {
    vertical-align: top;
    padding: .7em 1.4em;
    border-top: 1px dotted #BBA9A9;
    border-right: 1px dotted #BBA9A9;
}

table, tbody, tr, td {
	width: 100%!important;
}

.table-style {
    border-collapse: collapse;
    border-spacing: 0px;
    margin-top: 0px;
    margin-bottom: 16px;
    display: block;
    width: 728px;
    overflow: auto;
    word-break: normal;
    color: rgb(51, 51, 51);
    font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    font-size: 16px;
    line-height: 25.6000003814697px;
    border-top-style: solid;
    border-top-color: rgb(204, 204, 204);
}
.tr-style {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(204, 204, 204);
    background-color: rgb(248, 248, 248);
}
.td-style {
    padding: 6px 13px;
    border: 1px solid rgb(221, 221, 221);
}
.td-style2 {
    color: rgb(65, 131, 196);
    text-decoration: none;
    background: transparent;
}

.logo img {
    border-radius: 50%;
    box-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
}

main {
    border: 1px solid rgb(189, 189, 189);
    margin: 1em 3em;
    border-radius: .2em;
    text-align: left;
}

main .header {
    padding: .2em .4em;
}

main .description {
    padding: .8em 1.4em;
}

.roshan {
    color: red;
}

li pre {
    margin: 0;
}

li h2 {
    color: red;
}

li li h2 {
    font-size: 1em;
    color: rgb(6, 101, 243);
}

.hidden {
    display: none;
}

select {
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    height: 50px;
    margin-left: 1em;
    margin-right: -5px;
    padding: 1.1em;
    vertical-align: 6px;
}

p {
    padding: 0 .8em;
    padding-bottom: .4em;
}

li {
    border-bottom: 1px solid rgb(189, 189, 189);
    border-left: 1px solid rgb(189, 189, 189);
    padding: .5em;
}

label {
    display: inline-block;
    width: 8em;
}

h1 span {
    background: yellow;
    border: 2px solid #8e1515;
    padding: 2px 8px;
    margin: 2px 5px;
    border-radius: 7px;
    color: #8e1515;
    display: inline-block;
}

main button {
    font-size: inherit;
}

main button, main select {
    vertical-align: middle;
    line-height: 1;
    padding: 2px 5px;
    height: auto;
    font-size: inherit;
    margin: 0;
}

main, main .header {
    display: block;
    text-align: center;
    padding-top: 0;
}

main video, main img {
    max-width: 100%!important;
    vertical-align: top;
}

main audio {
    vertical-align: bottom;
}

main option[disabled] {
    display: none;
}

main select {
    font-size: 17px;
}